@CHARSET "UTF-8";
h2{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
ol, ul,li{list-style: none}
table{border-collapse:collapse;border-spacing:0}
hr,legend,caption{font-size:0;height:0px}
a{text-decoration:none;color:inherit}
a:hover{text-decoration:none}
img{vertical-align:middle;font-size:11px}
select{vertical-align:middle}
textarea{line-height:18px;font-size:12px;color:inherit}
.wrap{width:800px;margin:0 auto}

/** boardSearch **/
.board_search{margin:0 0 15px 0;text-align:right;}
.board_search > li{display:inline-block;margin:0 0 0 12px;font-size:11px}
*:first-child+html .board_search > li{display:inline}
.board_search > li > *{vertical-align:middle}
.board_search > li input[type="text"]{width:120px;padding:0 4px;height:20px;color:#808080;line-height:20px;border:solid 1px #e0e0e0;border-right:none}
.board_search > li input[type="radio"]{margin:2px 2px 0 0}
.board_search > li input[type="submit"]{margin:0;padding:0;width:40px;height:22px;font-size:12px;color:#fff;line-height:20px;border:none;background:#333;cursor:pointer}
.board_search > li label{margin:0 0 0 3px}

}/** orderTable **/
.board_list {font-size:12px;color:#777}
.board_list thead tr th{height:30px;color:#fff;font-weight:bold;background:#333;vertical-align:middle}
.board_list tbody tr td{padding:10px;text-align:center;line-height:18px;border-bottom:solid 1px #eee;vertical-align:middle}
.board_list tbody tr .tLeft{text-align:left}
.board_list tbody tr td a{color:#777}
.board_list tbody .notice td{background:#f6f6f6}
.board_list tbody tr:hover td{background:#fafafa}
/** pageNavi **/
.page_navi{margin-top:40px;font-size:0;text-align:center}
.page_navi *{display:inline-block;vertical-align:middle}
.page_navi > a{margin:0 4px;padding:0 5px;height:24px;font-size:12px;color:#333;line-height:23px;border:solid 1px #ccc}
.page_navi span{margin:0 10px}
.page_navi span > *{padding:6px;font-size:14px;color:#777}
.page_navi span > strong{color:#555;font-weight:bold;text-decoration:underline}

/** board Detail **/
.board_title{margin:0 0 15px 0;text-align:right;}
.board_title > li{display:inline-block;margin:0 0 0 12px;font-size:11px}
*:first-child+html .board_title > li{display:inline}
.board_view {width:80%;border-top:2px solid #252525;border-bottom:1px solid #ccc}
.board_view tbody th {text-align:left;background:#f7f7f7;color:#3b3a3a}
.board_view tbody th.list_tit {font-size:13px;color:#000;letter-spacing:0.1px}
.board_view tbody .no_line_b th, .board_view tbody .no_line_b td {border-bottom:none}
.board_view tbody th, .board_view tbody td {padding:15px 0 16px 16px;border-bottom:1px solid #ccc}
.board_view tbody td.view_text {border-top:1px solid #ccc; border-bottom:1px solid #ccc;padding:45px 18px 45px 18px}
.board_view tbody th.th_file {padding:0 0 0 15px; vertical-align:middle}

/** board Write **/


/** board Update **/
.board_update{margin:0 0 15px 0;text-align:right;}
.board_update > li{display:inline-block;margin:0 0 0 12px;font-size:11px}
*:first-child+html .board_update > li{display:inline}
.board_update {font-size:12px;color:#777}
.board_update thead tr th{height:30px;color:#fff;font-weight:bold;background:#333;vertical-align:middle}
.board_update tbody tr td{padding:10px;text-align:center;line-height:18px;border-bottom:solid 1px #eee;vertical-align:middle}
.board_update tbody tr .tLeft{text-align:left}
.board_update tbody tr td a{color:#777}
/** button **/
.button {margin:0;padding:0;width:40px;height:22px;font-size:12px;color:#fff;line-height:20px;border:none;background:#333;cursor:pointer}
