@CHARSET "UTF-8";
#menu_bar{position:relative; width:100%;height:30px;}
#menu_bar ul li{float:left; position: relative; display: inline; vertical-align: middle; text-align: center; border-left: 1px solid #c0c0c0;}
#menu_bar ul li a{font-size:15px;color:#ffffff; font-weight:bold;text-decoration:none}
#menuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 150px; /* 기본 넓이를 150px로 설정 */
	font-size: 12px; /* 폰트 사이즈를 12px로 설정 */
	font-weight: bold; /* 폰트를 굵게 설정 */
	font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
}